/* form{
    text-align: center;
    font-size: larger;
    border: 3px solid black;
    margin-left: 630px;
    margin-right: 630px;
    background-color: violet;
}
h2{
    text-align: center;
    font-size: larger;
color: aquamarine;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: italic;
}
input{
    background-color:antiquewhite;
    font-size: large;
    color: tomato;
} */