

<!-- <app-test1></app-test1>
<div>
  <h1>
    Welcome to {{ title }}! {{name}}
  </h1>
  <app-test2 [child] = 'parentToChild' (objFromChild)='onParent($event)'>

  </app-test2> 
  <app-test2 [child] = 'parentToChild' (infoFromChild)='onParent($event)'>

  </app-test2> 
  <h3>Employee Count Is -:{{empCount}}</h3>
  <h2>{{getFullYears()}}</h2>
  <h1>
   
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
{{data.name}}
{{data.dept}}
<button type="button" class="btn btn-success">Success</button>

<app-test2 [child]="parentToChild"></app-test2>

<app-card [title]="posts[0].title" [content]="posts[0].content"></app-card> 
<app-card [title]="posts[1].title" [content]="posts[1].content"></app-card>
<app-card [childSentance]="sentance"></app-card>


<button (click)="test()">Save</button>








-->
<!-- 
<app-demo></app-demo> -->
<!-- <app-countrystatedro></app-countrystatedro> -->

<!-- <app-password></app-password> -->

<!-- <app-ng-for></app-ng-for> -->

<!-- <app-ng-if> </app-ng-if> -->

<!-- <app-ngswitch></app-ngswitch> -->

<!-- <p appCustom>Jay Shree Ram</p> -->

<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle>-->
<!-- <app-ngstyle></app-ngstyle> -->
<!-- <app-ngclass></app-ngclass>  -->


<!-- <app-registration></app-registration> -->


<!-- <app-reactiveform></app-reactiveform> -->
<!--<app-templateform></app-templateform> -->

<app-angular-practice></app-angular-practice>
<router-outlet></router-outlet>
 
