.title{
    color: cadetblue;
    text-align: center;
font-size: xx-large;
font-style: italic;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
label{
    color:rgb(148, 112, 68);
    font-size: x-large;
    text-align: center;
    margin-left: 700px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 30px;
    font-style: italic;
}
#inp{
    color: cadetblue;
}

button{
    margin-left: 750px;
}
