<div class="columns" style="margin-top: 2rem;">
    <div class="column is-half is-offset-one-quarter">
      <div class="box">
        <h1 class="title">---: Password Generator :---</h1>
        <hr>
  
        <div class="field">
          <div class="control">
            <label for="length">Length-:
             <input (input)="onChangeLength($any($event.target).value)" type="number" name="length" class="input">
            </label> 
            </div>
        </div>
  
        <div class="field">
          <div class="control">
            <label >  Use letters-:   
             <input (change)="onChangeUseLetters()" type="checkbox" class="form-check-input" id="use-letters">
            </label>
           
            <label class="checkbox" for="use-letters"></label>
          </div>
        </div>
  
        <div class="field">
          <div class="control">
            <label class="checkbox" for="use-numbers">  Use Numbers-:
              <input id="inp" (change)="onChangeUseNumbers()" type="checkbox" class="form-check-input" id="use-numbers">
            
            </label>
          </div>
        </div>
  
        <div class="field">
          <div class="control">
            <label class="form-check-label" for="use-symbols">  Use Symbols-:
              <input (change)="onChangeUseSymbols()" type="checkbox" class="form-check-input" id="use-symbols">
            
            </label>
          </div>
        </div>
      
        <div class="field">
          <div class="control">
            <button  [disabled]="disabledBth()" class="button is-success is-fullwidth"
              (click)="generatePassword()"><b> Generate </b></button>
          </div>
        </div>
        <div class="field" *ngIf="password">
          <div class="control">
            <label for="password">
              Your Password
              <input type="text" name="password" class="input" [value]="password">
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
