 <div class="container">    
  <div class="row justify-content-center">
      <div class="col-md-5 text-left rounded shadow py-5">
          <h2>Reactive Form</h2>
          <form [formGroup]="myReactiveForm" (ngSubmit)="OnSubmit()">
                <div formGroupName="userDetails">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" formControlName="username" class="form-control" id="username" placeholder="Enter user name"
                  >
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" formControlName="email" class="form-control" id="email" placeholder="Enter email address">
                  <small class="text-danger" *ngIf="!myReactiveForm.get('userDetails.email').valid 
                  && myReactiveForm.get('userDetails.email').touched">
                      Please enter valid email
                  </small>
                </div>
              </div>
              <div class="form-group">
                  <label for="course"> Select course </label>
                  <select formControlName="course" id="course" class="form-control">
                      <option value="Angular"> Angular </option>
                      <option value="HTML"> HTML </option>
                      <option value="JavaScript"> JavaScript </option>
                  </select>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <div class="row justify-content-center mt-2" *ngIf="isSubmitted">
              <div class="col-md-6 rounded shadow py4">
                <h2>Form Data</h2>
                <p>Username:<strong> {{ myReactiveForm.get('userDetails.username').value}} </strong> </p>
                <p>Email: <strong>  {{ myReactiveForm.get('userDetails.email').value}}</strong></p>
                <p>Course: <strong>  {{ myReactiveForm.get('course').value}}</strong></p>
              </div>
      </div>
  </div>
</div>






<!-- -----------------Practising Reactive Form------------------------------- -->
<!-- <div>
  <h2>Personal Information</h2>
<form [formGroup]="myReactiveForm" (ngSubmit)="ngOnInit()">
<label for="userName">Name-:</label>
<input type="text" formControlName="username"><br>
<label for="email">Email-:</label>
<input type="email" formControlName="email"><br>
<label for="course"> Cource-:</label>
<select formControlName="course">
  <option value="Angular"> Angular</option>
  <option value="JavaScript">JavaScript</option>
  <option value="HTML">HTMl</option>
</select>
<button type="submit">Submit</button>
</form>
</div>
<div *ngIf="isSubmitted">
<p>Name-:{{myReactiveForm.get('username').value}}</p>
<p>Email-:{{myReactiveForm.get('email').value}}</p>
<p>Cource-:{{myReactiveForm.get('course').value}}</p>
</div> -->














<!-- <div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-left rounded shadow py-5">
<h2>Reactive Form</h2>
<form  [formGroup]="myReactiveForm" (ngSubmit)="OnSubmit()">
<div class="form-group">
<label for="username">Username</label>
<input type="text" formControlName="username" class="form-control" id="username" placeholder="Codemind">
</div>
<div class="form-group">
    <label for="email">Email</label>
    <input type="text" formControlName="email" class="form-control" id="email" placeholder="Codemind">
    </div>
    <div class="form-group">
        <label for="course">Select Course</label>
        <select name="course" id="course" class="form-control">
            <option value="Angular">Angular</option>
            <option value="HTML">HTML</option>
            <option value="JavaScript">JavaScript</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
  </div>  
</div> -->
